<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Horizons</key>
	<dict/>
	<key>Sun</key>
	<dict>
		<key>mass</key>
		<real>1.327124400180e+20</real>
	</dict>
	<key>Mercury</key>
	<dict>
		<key>mass</key>
		<real>2.203209000e+13</real>
	</dict>
	<key>Venus</key>
	<dict>
		<key>mass</key>
		<real>3.248586300e+14</real>
	</dict>
	<key>Earth</key>
	<dict>
		<key>mass</key>
		<real>3.986004400e+14</real>
	</dict>
	<key>Mars</key>
	<dict>
		<key>mass</key>
		<real>4.282830000e+13</real>
	</dict>
	<key>Jupiter</key>
	<dict>
		<key>mass</key>
		<real>1.266865370e+17</real>
	</dict>
	<key>Saturn</key>
	<dict>
		<key>mass</key>
		<real>3.793128450e+16</real>
	</dict>
	<key>Uranus</key>
	<dict>
		<key>mass</key>
		<real>5.793947000e+15</real>
	</dict>
	<key>Neptune</key>
	<dict>
		<key>mass</key>
		<real>6.835107000e+15</real>
	</dict>
	<key>Pluto</key>
	<dict>
		<key>mass</key>
		<real>8.700000000e+11</real>
	</dict>
	<key>Moon</key>
	<dict>
		<key>mass</key>
		<real>4.902798e+12</real>
	</dict>
	<key>Io</key>
	<dict>
		<key>mass</key>
		<real>5.960625e+12</real>
	</dict>
	<key>Europa</key>
	<dict>
		<key>mass</key>
		<real>3.200841e+12</real>
	</dict>
	<key>Ganymede</key>
	<dict>
		<key>mass</key>
		<real>9.888778e+12</real>
	</dict>
	<key>Callisto</key>
	<dict>
		<key>mass</key>
		<real>7.179707e+12</real>
	</dict>
	<key>Charon</key>
	<dict>
		<key>mass</key>
		<real>1.267792e+11</real>
	</dict>
</dict>
</plist>
