<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>pages</key>
	<array>
		<dict>
			<key>a</key>
			<string>MESSENGER</string>
			<key>b</key>
			<string>Mercury</string>
		</dict>
		<dict>
			<key>a</key>
			<string>New Horizons</string>
			<key>b</key>
			<string>Pluto</string>
		</dict>
		<dict>
			<key>a</key>
			<string>New Horizons</string>
			<key>b</key>
			<string>Earth</string>
		</dict>
		<dict>
			<key>a</key>
			<string>New Horizons</string>
			<key>b</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>a</key>
			<string>Earth</string>
			<key>b</key>
			<string>Pluto</string>
		</dict>
		<dict>
			<key>a</key>
			<string>Sun</string>
			<key>b</key>
			<string>Pluto</string>
		</dict>
		<dict>
			<key>a</key>
			<string>Voyager 1</string>
			<key>b</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>a</key>
			<string>Voyager 2</string>
			<key>b</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>page</key>
	<integer>0</integer>
</dict>
</plist>
